$cell-width: 10px;
$cell-border-color: darkgray;
$empty-cell-color: gray;
$populated-cell-color: yellow;
$dying-cell-color: pink;

@mixin prevent-blue-on-click {
    border-collapse:collapse;
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */

}

table {
    @include prevent-blue-on-click;
}

td {

    width: $cell-width;
    height: $cell-width;
}

td, th {
    border: 1px solid $cell-border-color;
    background-color: $empty-cell-color;
}

.empty {
    background-color: $empty-cell-color;
}

.populated {
    background-color: $populated-cell-color;
}

.dying {
    background-color: $dying-cell-color;
}

button {
    width: 20%;
    height: 50px;
    cursor: pointer;
}