$cell-width: 10px;
$body-bg-color: #A2453D;
$empty-cell-color: #AAAAAA;
$cell-border-color: $empty-cell-color;
$populated-cell-color: #F6BF4F;
$text-color: #FAF6ED;
@import url(https://fonts.googleapis.com/css?family=VT323);

@mixin prevent-blue-on-click {
    // border-collapse:collapse;
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

h1, h2, h3, h4, h5, h6 {
    color: $text-color;
    text-align: center
}

button {
    color: black;
}

table {
    @include prevent-blue-on-click;

}

body {
    background-color: $body-bg-color;
    font-family: 'VT323', ;
}

td {
    width: $cell-width;
    height: $cell-width;
    margin: 3px;
}

td, th {
    border: 1px solid $cell-border-color;
    background-color: $empty-cell-color;
}

.empty {
    background-color: $empty-cell-color;
}

.populated {
    background-color: $populated-cell-color;
}

button {
    cursor: pointer;
}

.container {
    width: 500px;
}